<div class="products-grid">
  <% @products.each do |product| %>
    <div class="product-card">
      <% if product.image.attached? %>
        <%= image_tag product.image, class: "product-image" %>
      <% end %>

      <h3><%= product.name %></h3>
      <p>₹ <%= product.price %></p>

      <%= link_to "View", product_path(product), class: "btn" %>
      <%= button_to "Add to Cart",
      add_to_cart_path(product),
      method: :post %>

      <%= button_to "Add to Cart",
      add_to_cart_path(product),
      method: :post,
      class: "btn" %>


    </div>
  <% end %>
</div>
